@model EsteticaPorDoSol.Models.Veiculo

@{
    ViewData["Title"] = "Cadastrar Veículo";
}

<h2>Cadastrar Veículo</h2>

<form asp-action="CadastrarVeiculo" method="post">
    <div class="mb-3">
        <label for="idplaca" class="form-label">Placa</label>
        <input asp-for="dsPlaca" class="form-control @(ViewBag.Mensagem != null ? "is-invalid" : "")" id="idplaca" />
        @if (ViewBag.Mensagem != null)
        {
            <div class="invalid-feedback">
                @ViewBag.Mensagem
            </div>
        }
    </div>

    <div class="mb-3">
        <label for="idmodelo" class="form-label">Modelo</label>
        <input asp-for="dsModelo" class="form-control" id="idmodelo" />
        <span asp-validation-for="dsModelo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="idcor" class="form-label">Cor</label>
        <input asp-for="dsCor" class="form-control" id="idcor" />
        <span asp-validation-for="dsCor" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="cliente" class="form-label">Cliente</label>
        <select asp-for="idCliente" class="form-control"
                asp-items="@(new SelectList(ViewBag.Clientes, "idCliente", "dsNome", ViewBag.idClienteSelecionado))">
            <option value="">Selecione um cliente</option>
        </select>
        <span asp-validation-for="idCliente" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a asp-action="ListarVeiculo" class="btn btn-secondary">Cancelar</a>
</form>

@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
